<div class="centered">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Interesovanje  -- SAMO AKO NIJE RANIJE VAKCINISAN</mat-card-title>
      </mat-card-header>
      <form [formGroup]="interestForm">
          <mat-card-content>
            
              <mat-form-field class="fullWidth">
                  <input matInput placeholder="Državljanstvo" type="text" formControlName="drzavljanstvo">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Boravište" type="text" formControlName="boraviste">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Ime" type="text" formControlName="ime">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Prezime" type="text" formControlName="prezime">
              </mat-form-field>


              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>Pol</mat-label>
                <mat-select formControlName="pol">
                  <mat-option value="Muski">Muski</mat-option>
                  <mat-option value="Zenski">Zenski</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="fill" >
                <mat-label>Datum rođenja</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="datum_rodjenja">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="fullWidth">
                <input matInput placeholder="Lični dokument" type="number" formControlName="licni_dokument">
              </mat-form-field>

              <mat-form-field class="fullWidth">
                <input matInput placeholder="Broj mobilnog telefona" type="number" formControlName="broj_mobilnog">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Broj fixnog telefona" type="number" formControlName="broj_fixnog">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email" type="text" formControlName="email">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Opština ustanove(IZBACITI?)" type="text" formControlName="opstina_ustanove">
              </mat-form-field>
              

              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>Vakcina</mat-label>
                <mat-select formControlName="tip_vakcine">
                  <mat-option value="Pfizer-BioNTech">Pfizer-BioNTech</mat-option>
                  <mat-option value="Sputnik V">Sputnik V</mat-option>
                  <mat-option value="Sinopharm">Sinopharm</mat-option>
                  <mat-option value="AstraZeneca">AstraZeneca</mat-option>
                  <mat-option value="Moderna">Moderna</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>Davalac krvi</mat-label>
                <mat-select formControlName="davalac_krvi">
                  <mat-option value="DA">Da</mat-option>
                  <mat-option value="NE">Ne</mat-option>
                </mat-select>
              </mat-form-field>
              
             
          </mat-card-content>
            <button mat-raised-button color="primary" type="button" class="fullWidth" (click)="createInterest()">Pošalji</button>
      </form>
  </mat-card>
</div>
