<div class="centered">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Interesovanje  -- SAMO AKO NIJE RANIJE VAKCINISAN</mat-card-title>
      </mat-card-header>
      <form [formGroup]="interestForm">
          <mat-card-content>
            
              <mat-form-field class="fullWidth">
                  <input matInput placeholder="Državljanstvo" type="text" formControlName="drzavljanstvo">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Boravište" type="text" formControlName="boraviste">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Ime" type="text" formControlName="ime">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Prezime" type="text" formControlName="prezime">
              </mat-form-field>


              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>Pol</mat-label>
                <mat-select formControlName="pol">
                  <mat-option value="MUSKI">Muški</mat-option>
                  <mat-option value="ZENSKI">Ženski</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Datum rođenja</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="fullWidth">
                <input matInput placeholder="Lični dokument" type="number" formControlName="licni_dokument">
              </mat-form-field>

              <mat-form-field class="fullWidth">
                <input matInput placeholder="Broj mobilnog telefona" type="number" formControlName="broj_mobilnog">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Broj fixnog telefona" type="number" formControlName="broj_fixnog">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email" type="text" formControlName="email">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Opština ustanove(IZBACITI?)" type="text" formControlName="opstina_ustanove">
              </mat-form-field>
              

              <section>
                  <mat-checkbox class="section">Sputnjik</mat-checkbox>
                  <mat-checkbox class="section">Pfizer</mat-checkbox>
                  <mat-checkbox class="section">Sinepharm</mat-checkbox>
              </section>  

              <section>
                <mat-checkbox class="section">Davalac krvi</mat-checkbox>
              </section> 
             

              <!-- 
              
              <mat-form-field class="fullWidth">
                  <input matInput placeholder="First Name" type="text" formControlName="firstname">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                  <input matInput placeholder="Last Name" type="text" formControlName="lastname">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                  <input matInput placeholder="Email" type="text" formControlName="email">
              </mat-form-field> -->

              
             
          </mat-card-content>
            <button mat-raised-button color="primary" type="button" class="fullWidth" (click)="createInterest()" [disabled]="!interestForm.valid">Pošalji</button>
      </form>
  </mat-card>
</div>
