<body>
  <mat-toolbar color="primary">
    <span>VAŠ PROFIL</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="logout()">Odjava</button>
  </mat-toolbar>
  
  <br>
  
  <div class="centered">
    <mat-card class="example-card">
      <img  mat-card-image src="../../assets/healthy-patient-icon.png" alt="Photo of happy healthy patient! :)">
      <mat-card-content>
        <div class="buttons_div">
          <button mat-raised-button color="primary" class="option_button">Izmena podataka</button>
          
          <button mat-raised-button color="primary" class="option_button" (click)="createInterest()">Zahtev za vakcinaciju</button>
          
          <button mat-raised-button color="primary" class="option_button" (click)="createConsent()">Saglasnot za vakcinaciju</button>
          
          <button mat-raised-button color="primary" class="option_button" (click)="createRequestGreenSer()">Zahtev za zeleni sertifikat</button>
          
          <button mat-raised-button color="primary" class="option_button">Pregled Vaših dokumenata</button>
          
        </div>
        <br>
      </mat-card-content>
    </mat-card>
  </div>  
</body>
  
