body {
    background-color: white;
    font-family: Georgia, serif;
    color: black;
    text-align: justify;
    font-size: 18;
}

img.desno {
    float: right;
    padding: 8px;
    margin-right: 8px;
    width: 200;
    height: 200;
}

img.srednje {
    float: center;
    padding: 8px;
    margin-left: 500px;
    width: 200;
    height: 200;
}

img.levo {
    float: left;
    padding: 8px;
    margin-left: 8px;
    width: 200;
    height: 200;
}

span.naslov {
    font-size: 25;
    font-weight: bold;
}

span.podnaslov {
    font-size: 20;
}

span.veci_bold {
    font-size: 25;
    font-weight: bold;
}

span.boldovano {
    font-weight: bold;
}
