<div>
    <mat-toolbar color="primary">
        <span>Zdravstveni radnik</span>
    </mat-toolbar>
    <div class="centered">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Imunizacija građana</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                        <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
                        <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="immunise">
                        <th mat-header-cell *matHeaderCellDef>Izvrši</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" (click)="immunise(row)">
                                <mat-icon>check</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['immunise'])"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['immunise']);"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>